{% extends "shell.html" %}
{% from "macros.html" import icon, nav_item %}
{% block brand_sub %}مركز البرامج والتحديثات{% endblock %}
{% block nav %}
  <div class="nav-label">التصفح</div>
  {{ nav_item('main.index', 'home', 'الرئيسية') }}
  {{ nav_item('main.programs_page', 'grid', 'البرامج', ['main.programs_page', 'main.program_page']) }}
  {{ nav_item('main.updates', 'refresh', 'سجل التحديثات') }}
{% endblock %}
{% block sidebar_foot %}
  <a class="nav-link" href="{{ url_for('admin.login') }}">{{ icon('shield') }}<span>لوحة الإدارة</span></a>
{% endblock %}
